---
import { API_BASE_URL } from "@/lib/constantes";
import { getDatosBasicos } from "@/lib/queries";
const { settings } = await getDatosBasicos();


---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>{settings?.title}</h1>
		<p>{settings?.describe}</p>
	</body>
</html>
